{% extends "fluent_pages:admin/fluent_pages/page/change_list.html" %}

{% comment %}
    Add drag handles to MPTT change list, instead of using the whole row, which
    was unintuitive and prone to accidental drag operations.
{% endcomment %}

{% load i18n admin_urls %}

{% block footer %}
	{{ block.super }}
	<script type="text/javascript">
		var dragAndDrop = !!{{ cl.is_popup|yesno:"false,true" }};

		var tree = jQuery("#js-result-list").tree({
			data: data,
			autoOpen: true,
			saveState: true,
			dragAndDrop: dragAndDrop,
			onCreateLi: function(node, $li) {
				// polymorphic_tree's `onCreateLi` function does most of the work,
				// we just add drag handles to try and reduce the sensitivity of
				// the dragging process

				onCreateLi(node, $li);

				if (dragAndDrop) {
					var dragHandle = $(
						'<span class="pull-left drag-handle js-drag-handle">⣿</span>'
					).css({
						'margin-left': 10,
						'margin-top': 5
					});

					$li.children('div').prepend(dragHandle);
				}
			},
			onCanMoveTo: onCanMoveTo,
			onIsMoveHandle: function(element) {
				return element.is('.js-drag-handle');
			}
		});

		tree.before('<table class="js-tree-header"><thead><tr>{% for header in result_headers %}<th{{ header.class_attrib }}><div>{{ header.text|capfirst }}</div></th>{% endfor %}</tr></thead></table>');
		tree.bind('tree.move', function(e) {
			var move_info = e.move_info;

			jQuery.ajax({
				type: 'POST',
				url: '{{ cl.model_admin.api_node_moved_view_url }}',
				dataType: 'json',
				data: {
					'moved_id': parseInt(move_info.moved_node.id),
					'target_id': parseInt(move_info.target_node.id),
					'previous_parent_id': parseInt(move_info.previous_parent.id || 0),
					'position': move_info.position,
					'csrfmiddlewaretoken': '{{ csrf_token }}'
				},
				  success: function onMoveSuccess(data, status, xhr) {
					// Replace the action column, the preview URL changed.
					if( data.action_column && data.moved_id == move_info.moved_node.id ) {
						$(".col-actions_column", move_info.moved_node.element).html(data.action_column);
					}
				},
				error: onMoveError
			});
		});
	</script>
{% endblock %}
