{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}
	<div class='page-header'>
		<h2>Enter New Password</h2>
	</div>

	{% if validlink %}
		<p>
			Please enter your new password twice so we can verify you typed it in correctly.
		</p>

		<form action='' method='post'>
			{% csrf_token %}
			{% bootstrap_form form %}
			<button type='submit' class='btn btn-primary'>Change my password</button>
		</form>
	{% else %}
		<p>
			The password reset link was invalid, possibly because it has already been used.
			Please request a new password reset.
		</p>
	{% endif %}
{% endblock %}
