[run]
branch = True
data_file = project_template/var/.coverage
omit = */migrations/*, */tests.py, */tests/*
source = icekit, icekit_events

[report]
exclude_lines =
    def __repr__
    pragma: no cover
    raise AssertionError
    raise NotImplementedError
show_missing = True
