**/*.md5
**/*.orig
**/*.pyc
**/*.pyo
**/*.swp
**/.DS_Store
**/npm-debug.log
**/requirements-local.txt
*.egg-info/
.coverage
.eggs/
.git/
.idea/
.tox/
dist/
htmlcov/
icekit/bower_components/
icekit/node_modules/
initial_data.sql
project/
venv/
