**/*.orig
**/*.pyc
**/*.pyo
**/*.swp
**/.DS_Store
*.egg-info/
*.md5
.coverage
.eggs/
.git/
.idea/
.tox/
dist/
htmlcov/
icekit/settings/local.py
initial_data.sql
node_modules/
npm-debug.log
project/
requirements-local.txt
venv/
