**/*.md5
**/*.orig
**/*.py[co]
**/*.swp
**/.coverage
**/.DS_Store
**/npm-debug.log
**/requirements-local.txt
/*.egg-info/
/.eggs/
/.env
/.env.local
/.idea/
/.tox/
/build/
/dist/
/docker-compose.override.yml
/htmlcov/
/project_template/bower_components/
/project_template/node_modules/
/project_template/static_root/
/project_template/var/
/docs/_build*/
