**/*.md5
**/*.orig
**/*.py[co]
**/*.swp
**/.DS_Store
**/npm-debug.log
/*.egg-info/
/.coverage
/.eggs/
/.git/
/.idea/
/.tox/
/dist/
/htmlcov/
/icekit/bower_components/
/icekit/node_modules/
/initial_data.sql
/project/
/requirements-local.txt
/venv/
