# from events merge. Still necessary?

django-compressor<1.6  # See: https://github.com/django-compressor/django-compressor/issues/706
django-el-pagination<3  # See: http://django-el-pagination.readthedocs.io/en/latest/changelog.html#version-3-0-0
django-fluent-contents<1.1  # See: https://github.com/edoburu/django-fluent-contents/issues/67
django-mptt<0.8  # <0.8.5 for django-polymophic<0.8; <0.8 for Django 1.7
django-polymorphic-tree<1.2  # See: https://github.com/django-polymorphic/django-polymorphic-tree/commit/389b4800aadf05a02bc66e0589e6fa511aabc3a2
django-polymorphic<0.8  # For compatibility with Django < 1.8, see: https://django-polymorphic.readthedocs.org/en/latest/changelog.html#version-0-8-2015-12-28
Django>=1.7,<1.8
djangorestframework<3.4  # For compatibility with Django < 1.8
