recursive-include icekit *
recursive-include icekit_events *
recursive-include glamkit_sponsors *
recursive-include glamkit_collections *
recursive-include icekit_press_releases *
recursive-exclude icekit *.md5 *.orig *.pyc *.pyo *.swp .DS_Store requirements.txt requirements-local.txt
prune icekit/bower_components
prune icekit/node_modules
