# Forked, pre-release and private dependencies.

-e git+https://github.com/django-nose/django-nose.git#egg=django-nose
-e git+ssh://git@github.com/ixc/django-content-browser.git@master#egg=django-content-browser
