**/*.md5
**/*.orig
**/*.pyc
**/*.pyo
**/*.swp
**/.DS_Store
**/npm-debug.log
**/pubring.gpg~
**/random_seed
**/requirements-local.txt
.env.local
.idea/
bower_components/
icekit_settings_local.py
node_modules/
static_root/
var/
