**/*.md5
**/*.orig
**/*.pyc
**/*.pyo
**/*.swp
**/.DS_Store
**/npm-debug.log
**/pubring.gpg~
**/random_seed
**/requirements-local.txt
/.env
/.env.local
/.env.production
/.env.staging
/.gnupg/gpg.conf
/.idea/
/bower_components/
/project_settings_local.py
/docker-cloud.*.yml
/node_modules/
/static_root/
/var/
