# `requirements-icekit.txt` is used by `go.sh` to install whatever the
# django-icekit `Dockerfile` installs into the `interaction/icekit` image.

# NB: IF YOU CHANGE THE REVISION, CHANGE IT IN THE PROJECT'S Dockerfile AS WELL!
# In installed projects, this may end up as -e git+https://github.com/ic-labs/django-icekit@{COMMIT}#egg=django-icekit[api,dev,django18,forms,glamkit,project,search,test]
-e ..[api,brightcove,dev,django18,docs,forms,glamkit,project,search,test]

# IMPORTANT! If you change the pinned version of ICEkit above, update the `FROM`
# instruction in `Dockerfile` to match, and copy the ICEkit `requirements.txt`
# dependencies here:

-e git+https://github.com/ic-labs/glamkit-collections.git@389335cc217f415d7e078b06de450624be2e7b08#egg=glamkit-collections
-e git+https://github.com/ic-labs/icekit-press-releases.git@1da520787717117b0413715f9a6df834f2d9e7e1#egg=icekit-press-releases
-e git+https://github.com/ixc/django-dynamic-fixture.git@caeb3427399edd3b0d589516993c7da55e0de560#egg=django-dynamic-fixture
