django-icekit[api,brightcove,dev,django18,forms,project,search,test]
git+https://github.com/ixc/django-dynamic-fixture.git#egg=django-dynamic-fixture
git+https://github.com/pydanny-archive/django-wysiwyg.git#egg=django-wysiwyg
