{% load i18n static %}
<div class="col-publishing">

	<label class="publishing-icon">
		{% if not object.has_been_published %}
			<img src="{{ img_path }}icon-no.gif" width="10" height="10" alt="Unublished" title="Unublished" />
		{% else %}
			{% if object.is_dirty %}
				<img src="{{ img_path }}icon-unknown.gif" width="10" height="10" alt="Published (out-of-date)" title="Published (out-of-date)" />
			{% else %}
				<img src="{{ img_path }}icon-yes.gif" width="10" height="10" alt="Published" title="Published" />
			{% endif %}
		{% endif %}
	</label>

	{% if has_publish_permission%}
		<label class="publishing-links">

			{% if object.has_been_published and published_url %}
				<a target="_blank" href="{{ published_url }}">View Published</a>
			{% endif %}

			{% if object.is_dirty and draft_url %}
				<a target="_blank" href="{{ draft_url }}">View Preview</a>
			{% endif %}

			{% if object.is_dirty %}
				<a href="{{ publish_url }}">Publish</a>
			{% endif %}

			{% if object.has_been_published %}
				<a href="{{ unpublish_url }}">Unpublish</a>
			{% endif %}
		</label>
	{% endif %}

</div>
