{% extends "admin/change_list.html" %}

{% load static %}

{% block object-tools-items %}
	<li>
		<a id="toggle-calendar" href="#">Toggle Calendar</a>
	</li>
	{{ block.super }}
{% endblock %}

{% block result_list %}
	<style>
		iframe {
			border: 0;
			width: 100%;
		}
	</style>
	<script src='{% static "icekit_events/bower_components/iframe-resizer/src/iframeResizer.js" %}'></script>
	<div class="results">
		<iframe id="calendar" src="{% url "admin:icekit_events_event_calendar" %}?{{ request.GET.urlencode }}" scrolling="no"></iframe>
		<script>
			(function($) {
				$('#toggle-calendar').on('click', function(e) {
					e.preventDefault();
					$('#calendar').toggle();
				});
			})(window.jQuery || django.jQuery);
			iFrameResize({}, '#calendar');
		</script>
	</div>
	{{ block.super }}
{% endblock %}
