{% if share_username and share_key %}
  <div class="share-button js-share">
    <span class="share-button__share">
      <span class='share-button__text'>{{ text }}</span>
      <a href='#' class='share-button__link js-short-url'></a>
      <i class="sficon large sficon-share share-button__icon"></i>
    </span>
    <span class="share-button__copied">Link Copied</span>
  </div>

  <script>
    window.onload = function() {
      var shareButton = $('.js-share');
      var urls = {
        initial: window.location.href,
        short: ''
      };
      var buttonClass = {
        active: 'share-button--active',
        generate: 'share-button--generate'
      };
      var copied = false;

      var copyTextToClipboard = function(text) {
        var _textArea = document.createElement("textarea");

        _textArea.style.position = 'fixed';
        _textArea.style.top = 0;
        _textArea.style.left = 0;
        _textArea.style.width = '2em';
        _textArea.style.height = '2em';
        _textArea.style.padding = 0;
        _textArea.style.border = 'none';
        _textArea.style.outline = 'none';
        _textArea.style.boxShadow = 'none';
        _textArea.style.background = 'transparent';
        _textArea.value = text;

        document.body.appendChild(_textArea);

        _textArea.select();

        try {
          var _successful = document.execCommand('copy');
          if (_successful) {
            shareButton.addClass(buttonClass.active);
            copied = true;
          }
        } catch (err) {
          console.error('Oops, unable to copy');
        }

        document.body.removeChild(_textArea);
      }

      function share(url) {
        var _username = '{{ share_username }}';
        var _key = '{{ share_key }}';
        $.ajax({
          url: "http://api.bit.ly/v3/shorten",
          data: {
            'longUrl': url,
            'apiKey': _key,
            'login': _username
          },
          dataType: 'JSON',
          success: function (data) {
            var _requestUrl = urls.short = data.data.url;
            var _truncateUrl = _requestUrl.replace(/http[s]*:\/\//, '');
            shareButton.find('.js-short-url')
              .text(_truncateUrl)
              .prop('href', urls.short);
            shareButton.addClass(buttonClass.generate);
          }
        });
      }

      share(urls.initial);

      shareButton.on('click', function () {
        if (copied) {
          $(this).removeClass(buttonClass.active);
          copied = false;
        } else {
          copyTextToClipboard(urls.short);
        }
      });
    }
  </script>
{% endif %}
