{% if share_username and share_key %}
  <a href="#" class="ruled-group-item__single-link js-share" data-toggle="modal" data-target="#shareModal">
    {{ text }}
    <span class="pull-right">
      <i class="sficon large sficon-share"></i>
    </span>
  </a>

  <script>
    window.onload = function() {
      function copyTextToClipboard(text) {
        var textArea = document.createElement("textarea");

        textArea.style.position = 'fixed';
        textArea.style.top = 0;
        textArea.style.left = 0;
        textArea.style.width = '2em';
        textArea.style.height = '2em';
        textArea.style.padding = 0;
        textArea.style.border = 'none';
        textArea.style.outline = 'none';
        textArea.style.boxShadow = 'none';
        textArea.style.background = 'transparent';
        textArea.value = text;

        document.body.appendChild(textArea);

        textArea.select();

        try {
          var successful = document.execCommand('copy');
          if (successful) {
            shareModal.find('.js-copy-clipboard').removeClass('hidden');
          }
        } catch (err) {
          console.log('Oops, unable to copy');
        }

        document.body.removeChild(textArea);
      }

      function share(url) {
        var text = 'text';
        var username = '{{ share_username }}';
        var key = '{{ share_key }}';
        $.ajax({
          url: "http://api.bit.ly/v3/shorten",
          data: {
            'longUrl': url,
            'apiKey': key,
            'login': username
          },
          dataType: 'JSON',
          success: function (data) {
            shareModal.find('.js-short-url').text(data.data.url).attr('href', data.data.url);
            shortURL = data.data.url;
          }
        });
      }

      var shortURL;
      var longURL = window.location.href;
      var shareModal = $('#shareModal');

      share(longURL);

      $('.js-share').on('click', function () {
        copyTextToClipboard(shortURL);
      });
    }
  </script>
{% endif %}