<div class="modal fade" id="shareModal" data-keyboard="false" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Share</h4>
      </div>
      <div class="modal-body">
        <p><span>Your shared link:</span> <a href="" class="js-short-url"></a></p>
        <p class="js-copy-clipboard hidden">Your link has been copied to your clipboard!</p>
      </div>
    </div>
  </div>
</div>