{% extends "base.html" %}

{% load placeholder_tags fluent_contents_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
    {% with page.parent.get_published as parent %}
        {% if parent %}<p class="breadcrumbs"><a href="{{ parent.get_absolute_url }}">&laquo;&nbsp;{{ parent }}</a></p>{% endif %}
    {% endwith %}
	<h1>{{ page.title }}</h1>

	{% page_placeholder "main" role="m" %}
{% endblock %}

{% block base_js %}
	{{ block.super }}
	{% render_content_items_media %}
{% endblock %}
