{% extends "base.html" %}

{% load fluent_contents_tags %}

{% block content %}
    {% block page_hero %}
        {% with page.get_hero_image as hero_image %}
            {% if hero_image %}
                <div class="page-hero">
                    <img
                        class="page-hero__image"
                        src="{{ hero_image.image|thumbnail_url:"hero_image" }}"
                        alt="{{ hero_image.alt_text }}"
                    />
                </div>
            {% endif %}
        {% endwith %}
    {% endblock %}
	{% block page_breadcrumb %}
    	{% with page.parent.get_published as parent %}
			{% if parent %}
				<div class="page-breadcrumb">
					<i class="fa fa-caret-left page-breadcrumb-icon" aria-hidden="true"></i>
					<a class="page-breadcrumb-link" href="{{ page.get_parent.get_absolute_url }}">
						{{ page.get_parent.get_title }}
					</a>
				</div>
			{% endif %}
		{% endwith %}
	{% endblock %}
	{% block page_type %}
		{% if page.get_type %}
			<div class="page-type">
				{% if page.get_type.get_absolute_url and page.get_type.is_public %}
					<a class="page-type-link" href="{{ page.get_type.get_absolute_url }}">
				{% endif %}
				<span class="page-type-text">
					{{ page.get_type }}
				</span>
				{% if page.get_type.get_absolute_url and page.get_type.is_public %}
					</a>
				{% endif %}
			</div>
		{% endif %}
	{% endblock %}
	{% block page_title %}
		<h1>{{ page.title }}</h1>
	{% endblock %}
	{% block page_content %}
		{% page_placeholder "main" role="m" %}
	{% endblock %}
{% endblock %}

{% block js %}
	{{ block.super }}
	{% render_content_items_media %}
{% endblock %}
