{% extends 'icekit_content_collections/layouts/default.html' %}

{%  load static events_tags icekit_tags %}

{% block title %}{{ page.get_title }}{% endblock %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'jquery-ui/themes/base/jquery-ui.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>{{ page.get_title }}</h1>
        <h2>{{ start_date|date }} - {{ end_date|date }}</h2>

        <form method="get" action=".">
          <label for="start_date">From</label>
          <input id="start_date" name="start_date" value="{{ start_date|date:'Y-m-d' }}" />
          {% comment %}
          <div class="events-datepicker" id="datepicker" data-period="{{ days }}" data-start-date="{{ start_date|date:'Y-m-d' }}"></div>
          {% endcomment %}

          <label for="end_date">To</label>
          <input id="end_date" name="end_date" value="{{ end_date|date:'Y-m-d' }}" />

          <label for="types">Categories</label>
          <select name="types" multiple>
            {% for event_type in visible_event_types %}
            <option
                  value="{{ event_type.slug }}"
                  {% if event_type in types %}selected="selected"{% endif %}
              >{{ event_type.title }}</option>
            {% endfor %}
          </select>

          <label for="locations">Locations</label>
          <select name="locations" multiple>
            {% for location in visible_locations %}
            <option
                  value="{{ location.slug }}"
                  {% if location in locations %}selected="selected"{% endif %}
              >{{ location.title }}</option>
            {% endfor %}
          </select>

          <p/>

          <label for="user_lat_long">Your Latitude/Longitude</label>
          <input id="user_lat_long" name="user_lat_long" type="text" value="{{ request.GET.user_lat_long }}" />
          <label for="distance_within">Within (km)</label>
          <input id="distance_within" name="distance_within" type="text" value="{{ request.GET.distance_within }}" />
          <input id="is-nearby" name="is-nearby" type="hidden" value="" />

          <p/>

          <input type="submit" value="Submit" />
        </form>

        <h2>Occurrences</h2>
        <ul>
            {% for item in items_to_list %}
                <li><a href="{{ item.get_absolute_url }}">
                    {{ item.event|safe }}: {{ item.time_range_string }}
                </a></li>
            {% empty %}
                <li>There are no events matching constraints</li>
            {% endfor %}
        </ul>

    </div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{% static 'icekit_events/js/jquery-querystring.js' %}"></script>
    <script src="{% static 'jquery-ui/jquery-ui.min.js' %}"></script>

    {# Configure behaviour of start/end field datepicker widgets #}
    <script>
      $(function() {
        var dateFormat = "yy-mm-dd";
        var pickerDefaultOptions = {
            dateFormat: dateFormat,
            showButtonPanel: true,
            closeText: "Close",
        };
        var start_date_field = $("#start_date")
              .datepicker(pickerDefaultOptions)
              .on("beforeShow", function(elem, picker) {
                picker('setDate', getDate(elem));
              })
              .on("change", function() {
                end_date_field.datepicker("option", "minDate", getDate(this));
              });
        var end_date_field = $( "#end_date" )
              .datepicker(pickerDefaultOptions)
              .on("beforeShow", function(elem, picker) {
                picker('setDate', getDate(elem));
              });

        // Trigger initialisation of fields
        start_date_field.change();
        end_date_field.change();

        function getDate(element) {
          var date;
          try {
            date = $.datepicker.parseDate(dateFormat, element.value);
          } catch(error) {
            date = null;
          }
          return date;
        }
      });
    </script>

    {# Prompt user for permission to lookup location and populate into form #}
    <script>
      $(function() {
          navigator.geolocation.getCurrentPosition(function(location) {
              var coords = location.coords;
              $("#user_lat_long").val(coords.latitude + "," + coords.longitude);
          });
      });
    </script>

    {# Keep is-nearby constraint field up-to-date with lat/long/distance field changes #}
    <script>
      $(function() {
          var updateIsNearby = function() {
              $("#is-nearby").val(
                  $("#user_lat_long").val()
                  + ","
                  + $("#distance_within").val()
              );
          }

          $("#user_lat_long").change(updateIsNearby).change();
          $("#distance_within").change(updateIsNearby).change();
      });
    </script>
{% endblock %}

