{% load compress static %}

{% block doctype %}<!DOCTYPE html>{% endblock %}
<html lang="{% block html_lang %}en{% endblock %}" {% block html_attributes %}{% endblock %}>
	<head {% block head_attributes %}prefix="og: http://ogp.me/ns#"{% endblock %}>
		{% block head %}
			{% block credits %}
			<!-- Hello. We're the Interaction Consortium (http://interaction.net.au) -->
			<!-- We made this. -->
			{% endblock %}

			{% block meta %}
				<meta charset="utf-8">
				<meta http-equiv="X-UA-Compatible" content="IE=edge">
				<meta name="viewport" content="{% block meta_viewport %}width=device-width, initial-scale=1{% endblock %}">
				<meta name="description" content="{% block meta_description %}{% endblock %}">
				<link rel="author" href="/humans.txt" />

				{% block open_graph %}
					<meta property="og:title" content="{% block og_title %}{% if title %}{{ title }} - {% endif %}{{ SITE_NAME }}{% endblock %}">
					<meta property="og:type" content="{% block og_type %}website{% endblock %}">
					<meta property="og:image" content="{% block og_image %}{% endblock %}">
					<meta property="og:site_name" content="{% block og_site_name %}{{ SITE_NAME }}{% endblock %}">
					<meta property="og:description" content="{% block og_description %}{% endblock %}">
				{% endblock %}

				{% if debug %}
					<meta name="robots" content="noindex">
				{% endif %}
			{% endblock %}

			<title>{% block title %}{% if title %}{{ title|safe }} - {% endif %}{{ SITE_NAME|safe }}{% endblock %}</title>

			{% block head_css %}
				{# CSS files hosted externally #}
				{% block external_css %}{% endblock %}
				{# Base CSS files #}
				{% compress css file %}
					{% block base_css %}{% endblock %}
				{% endcompress %}
				{# Extra CSS files - section/page specific, etc #}
				{% compress css file %}
					{% block css %}{% endblock %}
				{% endcompress %}
			{% endblock %}

			{# Only put JS here if you need to block rendering, otherwise put it in the `js` block #}
			{% block head_js %}{% endblock %}

			{% block analytics %}
				{% include 'icekit/analytics.html' %}
			{% endblock %}
		{% endblock %}
	</head>
	<body class="{% block body_class %}{% endblock %}" {% block body_attributes %}{% endblock %}>
		{% block body %}
			{% block messages %}
				{% include 'icekit/messages.html' %}
			{% endblock %}
			{% block content %}{% endblock content %}
		{% endblock %}

		{% block body_js %}
			{# JS files hosted externally #}
			{% block external_js %}{% endblock %}
			{# Base JS files #}
			{% compress js file %}
				{% block base_js %}{% endblock %}
				{% if ICEKIT_SHARE_USERNAME and ICEKIT_SHARE_KEY %}
					<script language="javascript">
						window.ICEKIT_SHARE_USERNAME = '{{ ICEKIT_SHARE_USERNAME }}';
						window.ICEKIT_SHARE_KEY = '{{ ICEKIT_SHARE_KEY }}';
					</script>
					<script src="{% static "icekit/js/link_share.js" %}"></script>
				{% endif %}
			{% endcompress %}
			{# Extra JS files - section/page specific, etc #}
			{% compress js file %}
				{% block js %}{% endblock %}
			{% endcompress %}
		{% endblock %}
	</body>
</html>
