{% extends "base.html" %}

{% load fluent_contents_tags thumbnail %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	{% if page.category %}{{ page.category }}{% endif %}
	<h1>{{ page.title }}</h1>

    {% if page.portrait.image %}
        <figure>
            <img src="{{ page.portrait.image|thumbnail_url:'icekit_authors_portrait_large' }}" alt="{{ page.get_full_name }}" title="{{ page.get_full_name }}" class="about-page.portrait-image img-responsive">
            {% if page.portrait.caption %}
                <figcaption>
                    {{ page.portrait.caption|safe }}
                </figcaption>
            {% endif %}
        </figure>
    {% endif %}

    <div class="text">
        {{ page.introduction|safe }}
    </div>
    {% if page.url %}
        <a class="about-page.external-link" href="{{ page.url }}">
            {{ page.url_link_text }}
        </a>
    {% endif %}

    <div class="row">
        {% render_placeholder page.content %}
    </div>

    {% with contributions=page.contributions %}
        {% if contributions %}
            <hr />
            <div class="row">
                <h2 class="h3 text-center">By {{ page.get_full_name }}</h2>
                <ul>
                {% for contribution in contributions %}
                    <a href="{{ contribution.get_absolute_url }}">{{ contribution }}</a>
                {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endwith %}

{% endblock %}

{% block body_js %}
	{{ block.super }}
	{% render_content_items_media %}
{% endblock %}
