{% extends "base.html" %}

{% load placeholder_tags fluent_contents_tags %}

{% block title %}{{ page.title }}{% endblock %}

{% block content %}
	<h1>{{ page.title }}</h1>

	{% page_placeholder "main" role="m" %}

    {% if authors %}
        <ul>
            {% for author in authors %}
                <a href="{{ author.get_absolute_url }}">
                    {{ author }}
                </a>
            {% endfor %}
        </ul>
    {% else %}
        <p>No authors were found</p>
    {% endif %}

{% endblock %}

{% block base_js %}
	{{ block.super }}
	{% render_content_items_media %}
{% endblock %}
