{% load icekit_tags %}

{% if request.IS_DRAFT or request.user.is_staff %}
    <div class="preview-ribbon" {{ attrs }}>
		{% if request.user.is_staff %}
			<a class="preview-ribbon__link" href="{{ obj.get_draft|admin_url }}">
		{% endif %}
		<div class="preview-ribbon__content">
			{% if obj.is_draft and not obj.has_been_published %}
				<i class="fa fa-low-vision preview-ribbon__icon"></i><i class="fa fa-pencil preview-ribbon__icon"></i>
			{% else %}
				<i class="fa fa-pencil preview-ribbon__icon"></i>
			{% endif %}
		</div>
		{% if request.user.is_staff %}
			</a>
		{% endif %}
    </div>
{% endif %}
