{% extends "admin/base.html" %}

{% comment %}
	* Set title.
	* Load Bootstrap and ICEkit dashboard CSS and JS.
	* Load jQuery into global namespace, because Django removes it and some
	  code expects it.
{% endcomment %}

{% load static compress %}


{% block extrastyle %}
	<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}" />
	{% compress css %}
		<link type="text/less" rel="stylesheet" href="{% static 'admin/css/icekit_dashboard.less' %}" />
	{% endcompress %}
{% endblock %}

{% block extrahead %}
	<script src="{% static 'jquery/dist/jquery.js' %}"></script>
	<script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
{% endblock %}
