{% extends "admin/base.html" %}

{% comment %}
	* Set title.
	* Load Bootstrap and ICEkit dashboard CSS and JS.
	* Load jQuery into global namespace, because Django removes it and some
	  code expects it.
{% endcomment %}

{% load static compress %}

{% block title %}{{ title }} | {{ SITE_VERBOSE_NAME|default:_('ICEkit Admin') }}{% endblock %}

{% block extrastyle %}
	{% compress css %}
		<link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.css' %}" />
		<link type="text/less" rel="stylesheet" href="{% static 'admin/css/icekit_dashboard.less' %}" />
	{% endcompress %}
{% endblock %}

{% block extrahead %}
	{% compress js %}
		<script src="{% static 'jquery/dist/jquery.js' %}"></script>
		<script src="{% static 'bootstrap/dist/js/bootstrap.js' %}"></script>
	{% endcompress %}
{% endblock %}
