{% extends "admin:admin/index.html" %}

{% comment %}
	* Load FontAwesome CSS.
	* Style app list with featured apps.
	* Remove sidebar.
{% endcomment %}

{% load i18n admin_static dashboard_tags %}

{% block content_title %}{% endblock %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/icekit_dashboard.js' %}"></script>
{% endblock %}

{% block content %}
<div class="content-fullwidth">

	<div class="row">
		{% for app in app_list|filter_featured_apps:request %}
			<div class="col-md-4 col-sm-6">
				{% include "admin/app_widget.html" with app=app %}
			</div>
		{% endfor %}
	</div>

	{# the usual app list goes here #}
	{% if app_list %}
	<div class="row">
		<div class="widget widget-other">
			<header>
				<h2>{{ title }}</h2>
				<!--<ul class="widget-controls">-->
					<!--<li class="widget-control widget-control-close">×</li>-->
					<!--<li class="widget-control widget-control-drag">⣿</li>-->
				<!--</ul>-->
			</header>


			{% for column in app_list|partition_app_list:3 %}
				<ul class="other-contents-list col-md-4">
					{% for app in column %}
						<li class="mini caps quiet">
							{% if app.app_url %}
								<a href="{{ app.app_url }}">{{ app.name }}</a>
							{% else %}
								{{ app.name }}
							{% endif %}
						</li>
						{% for model in app.models %}
							<li>
								<h3>
									{% if model.admin_url %}
										<a href="{{ model.admin_url }}">{{ model.name }}</a>
									{% else %}
										{{ model.name }}
									{% endif %}
								</h3>
								<ul class="model-tools model-tools-compact">
									{% if model.add_url %}
										<li><a href="{{ model.add_url }}" title="Add [content-type-singular-name]">
											<i class="fa fa-plus"></i>
										</a></li>
									{% endif %}
								</ul>
							</li>
						{% endfor %}
					{% endfor %}
				</ul>
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}

{% block sidebar %}{% endblock %}
