{% extends "admin/base_site.html" %}
{% load i18n admin_static dashboard_tags static %}

{% block title %}ICEkit Admin{% endblock %}

{% block content_title %}{% endblock %}

{% block extrastyle %}
	{{ block.super }}
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block branding %}
<a href="{% url 'admin:index' %}">
	<img id="site-logo" src="{% block header-image %}{% static 'admin/img/header-brand.png' %}{% endblock header-image %}" title="San Francisco Museum of Modern Art">
	<h1 id="site-name">Site Admin</h1>
</a>
{% endblock %}

{% block extrahead %}
    {{ block.super }}
    <script src="{% static 'admin/js/icekit_dashboard.js' %}"></script>
{% endblock %}

{% block content %}
<div class="content-fullwidth">
	<div class="widget-area">
		{% for app in app_list|filter_featured_apps:request %}
			{% include "admin/app_widget.html" with app=app %}
		{% endfor %}

		{# the usual app list goes here #}
		<div class="widget widget-other is-full-width">
			<header>
				<h2>{{ title }}</h2>
				<!--<ul class="widget-controls">-->
					<!--<li class="widget-control widget-control-close">×</li>-->
					<!--<li class="widget-control widget-control-drag">⣿</li>-->
				<!--</ul>-->
			</header>
			{% if app_list %}
				{% for column in app_list|get_model_list|divide_list:2 %}
					<ul class="other-contents-list">
						{% for app_model in column %}
							<li>
								<h3>
									{% if app_model.model.admin_url %}
										<a href="{{ app_model.model.admin_url }}">
									{% endif %}
									{{ app_model.model.name }}
									<span class="mini caps quiet">
										{{ app_model.app.name }}
									</span>
									{% if app_model.model.admin_url %}
										</a>
									{% endif %}
								</h3>
								<p class="mini quiet">
								</p>
								<ul class="object-tools object-tools-compact">
									{% if app_model.model.add_url %}
									<li><a href="{{ app_model.model.add_url }}" title="Add [content-type-singular-name]">
										<i class="fa fa-plus"></i>
									</a></li>
									{% endif %}
									{% if app_model.model.admin_url %}
									<li><a href="{{ app_model.model.admin_url }}" title="Manage [content-type-plural-name]">
										<i class="fa fa-pencil"></i>
									</a></li>
									{% endif %}
								</ul>
							</li>
						{% endfor %}
					</ul>
				{% endfor %}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}

{% block sidebar %}{% endblock %}

{% block footer %}
{{block.super}}
<footer id="footer">
	<section class="footer-section footer-left">
		{% block footer-name %}{% endblock %}
	</section>
	<section class="footer-section footer-right">
		<a href="#">{% block site-name %}{{ SITE_NAME }}{% endblock %}</a> is built with <a href="http://interaction.net.au">IceKit</a>.
	</section>
	<a href="#" id="ic-logo">
		<div class="ic-logo-dot"></div>
		<div class="ic-logo-dot"></div>
		<div class="ic-logo-dot"></div>
	</a>
</footer>
{% endblock %}
