{% extends 'base.html' %}
{% load placeholder_tags icekit_tags events_tags %}

{% block title %}{{ event.title }}{% endblock %}

{% block content %}
	<h1>{{ event.title }}</h1>
    {% with event.part_of.get_visible as part_of %}
        {% if part_of %}
            <p>Part of <a href="{{ part_of.get_absolute_url}}">{{ part_of }}</a></p>
        {% endif %}
    {% endwith %}
	<p>Date{{ event.start_dates_set|pluralize }}: {{ event|dates_range }}</p>
	<p>Time{{ event.start_times_set|pluralize }}: {{ event|times_range }}</p>
	{% if event.price_line %}
		<p>Price: {{ event.price_line|safe }}</p>
	{% endif %}
	{% if event.special_instructions %}
		<p>Special instructions: {{ event.special_instructions|linebreaksbr }}</p>
	{% endif %}
	{% if event.cta_url %}
		<p><a href="{{ event.cta_url }}">{{  event.cta_text }}</a></p>
	{% endif %}

    {% with event.get_contained_events.visible as contained_events %}
        {% if contained_events %}
        <h2>Contains</h2>
        <ul>
            {% for e in contained_events %}
                <li><a href="{{ e.get_absolute_url }}">{{ e }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

    {% for o in event.occurrences.different_day %}
        <p>{{ o.time_range_string }}</p>
    {% endfor %}

    {% regroup event.occurrences.same_day by local_start.date.year as year_groups %}

    {% for group in year_groups %}
        <h2>{{ group.grouper }}</h2>
        {% regroup group.list by local_start.date as date_groups %}
        <dl>
            {% for dg in date_groups %}
                <dt>{{ dg.grouper|date:"N j" }}</dt>
                {% for occurrence in dg.list %}
                    <dd {% if occurrence.is_past or occurrence.is_cancelled %}style="text-decoration:line-through;"{% endif %}>{% if occurrence.is_all_day %}All day{% else %}{{ occurrence.local_start|time }}{% endif %}</dd>
                {% endfor %}
            {% endfor %}
        </dl>
    {%  empty %}
        {% if not event.occurrences.different_day %}<p>This event doesn't have published times</p>{% endif %}
    {% endfor %}

{% endblock %}

{% block body_js %}
	{{ block.super }}
	{% render_content_items_media %}
{% endblock %}
