{% extends 'base.html' %}

{% block title %}{{ event.title }}{% endblock %}

{% block body %}
	<p>
		<a href="{% url 'icekit_events_index' %}">&lt; All Events</a>
	</p>

	<h1>{{ event.title }}</h1>

	<p>Dates: {{ event.describe_dates_range }}</p>
	<p>Time: {{ event.describe_times_range }}</p>
	{% if event.special_instructions %}
		<p>Special instructions: {{ event.special_instructions }}</p>
	{% endif %}
	{% if event.attendance_url %}
		<p><a href="{{ event.attendance_url }}">Book now</a></p>
	{% endif %}

	<h2>Occurrences</h2>
	<ul>
        {% for occurrence in event.occurrences.all %}
        <li>
            {{ occurrence.start }} to {{ occurrence.end }}
        </li>
        {%  empty %}
            <li>No occurrences for this event</li>
        {% endfor %}
	</ul>
{% endblock %}

